*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Arial, sans-serif;
    background-color: #40407A;
    color: #40407A;
    margin: 0;
}

header{
    background-color: #40407A;
    background-image: url("sunrise.jpg");
    background-size: 100% 100%;
    margin-top: 50px;
    font-size: 90%;
    min-height: 200px;
}

header a{
    text-decoration: none;
    color: #FFFFFF;
}

header a:link, a:visited{
    color: #FFFFFF;
}

header a:hover{
    color: #8F92B2;
    transition: color 10s ease-out;
}

h2{
    margin: 0;
}

nav{
    background-color: #FFFFFF;
    text-align: right;
    margin: 0;
    padding-top: 0em;
    padding-bottom: 1em;
    padding-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: auto;
}

nav a{
    text-decoration: none;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding-right: 2em;
    font-size: 1.2em;
}

nav li{
    display: inline;
    padding-left: 2em;
    width: 30%;
}

nav a:link{
    color: #3F2860;
}

nav a:visited{
    color: #497777;
}

nav a:hover{
    color: #A26100;
}

section{
    padding-left: .5em;
    padding-right: .5em;
}

footer {
    font-size: small;
    font-style: italic;
    text-align: center;
    clear: right;
}

li,dd{
    font-size: 90%;
}

.home{
    height: 20vh;
    padding-top: 2em;
    padding-left: 10%;
}

.content{
    height: 20vh;
    padding-top: 2em;
    padding-left: 10%;
}

#wrapper{
    background-color: #F5F5F5;
    padding: 2em;
}

#mathero{
    display: none;
    height: 300px;
    background: url("yogamat.jpg") no-repeat;
    background-size: 100% 100%;
}
#loungehero{
    display: none;
    height: 300px;
    background: url("yogalounge.jpg") no-repeat;
    background-size: 100% 100%;
}

#flow{
    display: block;
}

table{
    border: 1px #40407A solid;
    margin-bottom: 1em;
    min-width: 400px;
    border-collapse: collapse;
}

td, th{
    padding: .5em;
    border: 1px #40407A solid;
}

tr:nth-of-type(even){
    background-color: #D7E8E9;
}

caption{
    margin: 1em;
    font-weight: bold;
    font-size: 120%;
}

form{
    display: flex;
    flex-flow: column nowrap;
}

input, datalist textarea{
    margin-bottom: .5em;
}

audio{
    margin-bottom: 1em;
}

@media (min-width: 600px){
    nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    nav li{
        width: 7em;
    }
    section{
        padding-right: 2em;
        padding-left: 2em;
    }

    #mathero{
        display: block;
        padding-bottom: 1em;
    }

    #loungehero{
        display: block;
        padding-bottom: 1em;
    }
    #flow{
        display: flex;
        flex-direction: row;
    }
    form{
        width: 60%;
        max-width: 40em;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 9em 1fr;
        grid-template-rows: auto;
    }

    input[type="submit"]{
        grid-column: 2/3;
        width: 9em;
    }
}

@media (min-width: 1024px) {
    header{
        font-size: 120%;
    }

    nav{
        font-weight: bold;
    }

    .home{
        height: 50vh;
        padding-top: 5em;
        padding-left: 8em;
    }

    .content{
        height: 30vh;
        padding-top: 2em;
        padding-left: 8em;
    }

    #wrapper{
        margin: auto;
        width: 80%;
    }
}


